/* Reset style */
html {
    font-family: "proxima-nova",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
    line-height: 1.6;
    font-weight: 400;
    font-size: 16px;
}
body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

.container{
    box-sizing: border-box;
    display: flex;
    width: 900px;
    padding: 2em 0;
    margin: 0 auto;
    height: 100vh;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 15px;
}

.image-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: gray;
}

.label{
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 0.5em  ;
}

.active-label{
    background: #005cc5;
    color: white;
}

.label img{
    float: left;
    height: 45px;
    width: 45px;
    margin-right: 6px;
    border-radius: 6px;
    object-fit: cover;
}

.label-title{
    display: flex;
    max-width: 80%;
}

/* Left part of label title which shows ellipsis */
.left-text{
    /* This part can't grow but can shrink */
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

/* Right part of label title */
.right-text{
    /* This part can grow but not shrink to accommodate for full length display */
    flex:  1 0 auto;
    overflow: hidden;
    white-space: pre;
}

.preview-image{
    width: 100%;
    height: 96%;
    border-radius: 6px;
    object-fit: cover;
    flex: 1 0 auto;
}

.image-container p{
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .container{
        flex-direction: column;
        padding: 0 0.3rem;
    }
    .sidebar{
        flex-direction: row;
    }
    .label{
        width: 19vw;
        flex: 0 0 auto;
        overflow: hidden;
    }
    .image-container{
        width: calc(100vw - 0.6rem);
    }
}